<div class="container">
      <h1 class="display-4 mt-5 mb-0">Sign In</h1>
      <hr class="mt-0 mb-0 bg-dark">
      <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                  <form [formGroup]="signinForm" (ngSubmit)="onSubmitSigninForm()">
                        <div class="form-group">
                              <label for="email">Email adress</label>
                              <input type="email" id="email" class="form-control" placeholder="john.doe@email.com" formControlName="email">
                        </div>
                        <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" id="password" class="form-control" placeholder="6 characters minimum" formControlName="password">
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">
                              Sign in
                        </button>
                  </form>
            </div>
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                  <button (click)="login()" class="btn btn-primary">Sign In with Google</button>
            </div>
      </div>
</div>