<div class="card" *ngIf="serie">
    <h3> Watch {{serie.name}}</h3>
  
    <div class="card-body">
      <div class="row">
  
        <div class="col-lg-4">
          <img class="center-block img-responsive"
                [src]='imageBaseUrl+serie.poster_path'
                [style.width.px]='300'
                [style.margin.px]='2'
                [title]='serie.name'
                [alt]='serie.name'>
        </div>
  
        <div class="col-lg-8 body">
          <div class="row spacing">
            <h5 class="col-lg-3">Description</h5>
            <div class="col-lg-9">{{serie.overview}}</div>
          </div>
          <div class="row row spacing" >
            <h5 class="col-lg-3">Genre</h5>
            <div class="col-lg-9">
              <span *ngFor='let genres of serie.genres'> {{genres.name}} </span>
            </div>
          </div>
          <div class="row row spacing">
            <h5 class="col-lg-3">Release Year</h5>
            <div class="col-lg-9">{{serie.first_air_date}}</div>
          </div>
          <div class="row row spacing">
            <h5 class="col-lg-3">Rating</h5>
            <div class="col-lg-9">{{serie.vote_average}}</div>
          </div>
  
          <div class="row row spacing" *ngFor='let results of video.results; index as indexOfelement;'>
            <h5 class="col-lg-3">Trailer {{ indexOfelement+1 }}</h5>
            <div class="col-lg-9" >
              <p>
                <a href="https://www.youtube.com/watch?v={{results.key}}">{{ results.name }} </a>
              </p>
              <br>
              <iframe [src]="getEmbedUrl(results.key)" width="560" height="315" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  
  <!-- ADDED -->
          
    <div class="card-footer">
        <button class="btn btn-outline-secondary"
            style='width: 80px'
            [routerLink]="['/serie']"> Back
        </button>
    </div>
    <div class="card-footer">
        <app-like-serie [serieId]='serie?.id' [serieLiked]="checkLiked(serie)"></app-like-serie>
    </div>
  </div>
</div>
  