<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" [routerLink]="['/movie']">Nestiam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  justify-content-center">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/movie']" routerLinkActive="active" >Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/serie']" routerLinkActive="active">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movies/favouriteMovie']" routerLinkActive="active" >Favourite Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/series/favouriteSerie']" routerLinkActive="active" >Favourite Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active" *ngIf="!(user | async)?.uid" >Sign Up</a>        
      </li>      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active"  *ngIf="!(user | async)?.uid" >Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.user$|async as user">Email: {{user.email}}</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" *ngIf="(user | async)?.uid" (click)="logout()">Sign Out</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <app-movie-search></app-movie-search>		 
    </ul>
	 
  </div>
</nav>
