<div style="text-align:center">
    <h3>
      Trending Now
    </h3>
      <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let serie of series">
        <ng-template carouselSlide [id]="serie.id">
            <div>
                <a [routerLink]="['/serie', serie.id]"><img [src]="imageUrl+serie.poster_path" [alt]="serie.name" [id]="serie.id"></a>
              <p class="title">{{serie.name}}</p>
              <small>{{serie.first_air_date}}</small>
            </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <h3>
        Comedy
      </h3>
        <owl-carousel-o [options]="customOptions" >
          <ng-container *ngFor="let serie of series">
            <ng-template carouselSlide [id]="serie.id" *ngIf="serie.genre_ids.includes(35)">
              <div>
                <a [routerLink]="['/serie', serie.id]"><img [src]='imageUrl+serie.poster_path' [alt]="serie.name" [id]="serie.id"></a>
                <p class="title">{{serie.name}}</p>
                <small>{{serie.first_air_date}}</small>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

    <h3>
       Drama
      </h3>
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let serie of series">
            <ng-template carouselSlide [id]="serie.id" *ngIf="serie.genre_ids.includes(18)">
              <div>
                <a [routerLink]="['/serie', serie.id]"><img [src]="imageUrl+serie.poster_path" [alt]="serie.name" [id]="serie.id"></a>
                <p class="title">{{serie.name}}</p>
                <small>{{serie.first_air_date}}</small>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
</div>